<tr>
    <td data-label="Nome"><!-- Nome --></td>
    <td data-label="Prezzo"><!-- Prezzo --></td>
    <td data-label="Immagine"><!-- Immagine --></td>
    <td data-label="Descrizione"><!-- Descrizione --></td>
    <td data-label="Quantità"><!-- Quantita --></td>
    <td data-label="Autore"><!-- Autore --></td>
    <td data-label="Azione">
        <div id="table-actions">
            <form method="get" action="mod_drawing.php">
                <input type="hidden" name="nome" value="<!-- Nome -->">
                <button class="table-button" type="submit" aria-label="Modifica"><i class="ph ph-pencil-simple"></i></button>
            </form>
            <form method="get" action="del_drawing.php">
                <input type="hidden" name="nome" value="<!-- Nome -->">
                <button class="table-button" type="submit" aria-label="Elimina"><i class="ph ph-trash"></i></button>
            </form>
        </div>
        
    </td>
</tr>