<div class="product-item">
    <img src="<!-- Immagine -->" alt="Placeholder" class="product-image">
    <div class="product-info">
        <div>
            <h2 class="product-name"><!-- Nome --></h2>
            <p class="product-price"><!-- Prezzo -->€</p>
        </div>
        <div>
            <label for="quantity">Quantità:</label>
            <select id="quantity" title="quantity" name="quantity" class="form-input">
                <!-- Quantita -->
            </select>
        </div>
        <a class="button" href="rimuovi_car.php?nome=<!-- Nome -->"><i class="ph ph-x"></i> Rimuovi</a>
    </div>
</div>