<main>
    <section class="create container">
        <h2 class="heading">Crea</h2>
            <form class="form" method="" id="create-form" action="">
                <label for="name">Nome</label>
                <input type="text" name="name" id="name" placeholder="Nome" class="form-input">
                <label for="description">Descrizione</label>
                <textarea name="description" id="description" cols="30" rows="10" placeholder="Descrizione" class="form-input"></textarea>
                <label for="price">Prezzo</label>
                <input type="number" name="price" id="price" placeholder="Prezzo" class="form-input">
                <label for="image">Immagine</label>
                <input type="text" name="image" id="image" placeholder="Immagine" class="form-input">
                <label for="author">Autore</label>
                <input type="text" name="author" id="author" placeholder="Autore" class="form-input">
                <input class="button" type="submit" value="Crea" class="form-input">
            </form>
    </section>
</main>
