<main role="main">
    <section class="delete container" aria-labelledby="deleteheader">
        <h1 class="heading" id="deleteheader">Elimina disegno</h1>
        <form action="del_drawing.php?nome=<!-- Nome -->" method="post">
            <p class="text">Sei sicuro di voler eliminare il disegno <!-- Nome --> ?</p>
            <div class="submit-group">
                <input class="button" type="submit" name="yes" value="Sì" />
                <a class="button" href="admin.php">No</a>
            </div>
        </form>
    </section>
</main>
