        <footer>
            <section class="footer container">
                <div class="footer-box">
                    <h2><a href="index.php" class="logo">BH</a></h2>
                    <ul class="social">
                        <li><a href="https://www.instagram.com" class="social-icon" aria-label="Instagram"><i class="ph ph-instagram-logo"></i></a></li>
                        <li><a href="https://www.tiktok.com" class="social-icon" aria-label="TikTok"><i class="ph ph-tiktok-logo"></i></a></li>
                        <li><a href="https://www.twitter.com" class="social-icon" aria-label="Twitter"><i class="ph ph-twitter-logo"></i></a></li>
                        <li><a href="https://www.youtube.com" class="social-icon" aria-label="YouTube"><i class="ph ph-youtube-logo"></i></a></li>
                    </ul>
                </div>
                <div class="footer-box">
                    <h2 lang="en">About</h2>
                    <a href="about.php" class="footer-link">Chi siamo</a>
                    <a href="faq.php" class="footer-link">FAQ</a>
                    <a href="ppolicy.php" class="footer-link">Informativa Privacy</a>
                </div>
                <div class="footer-box">
                    <h2>Servizi</h2>
                    <a href="poptions.php" class="footer-link">Metodi di pagamento</a>
                    <a href="refunds.php" class="footer-link">Resi</a>
                    <a href="lliability.php" class="footer-link">Limitazione di responsabilità</a>
                </div>
            </section>
            <p class="copyright">
                BH &copy; 2023 - Osama Chelhaoui, Bilal El Moutaren, Rupi Anton Ricardo
            </p>
        </footer>
    </body>
</html>