<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><!-- Titolo --></title>
    <meta name="description" content="<!-- Descrizione -->" />
    <meta name="keywords" content="<!-- Keywords -->" />
    <meta
      name="author"
      content="Osama Chelhaoui, Bilal El Moutaren, Ricardo Rupi Anton"
    />
    <!-- TODO: <link rel="stylesheet" href="styles/min.css"> -->
    <link rel="stylesheet" href="../../styles/styles.css" />
    <!-- https://phosphoricons.com/ -->
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    
    <script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script defer src="../../scripts/app.js"></script>
  </head>
  <body>
    <header>
      <nav class="nav container" role="navigation" aria-label="Main navigation">
        <div class="logo">BH</div>
        <div class="navbar">
          <a href="index.php" class="nav-link" aria-label="Home">Home</a>
          <a href="collection.php" class="nav-link" aria-label="Collezione">Collezione</a>
          <a href="about.php" class="nav-link" aria-label="Chi siamo">Chi siamo</a>
          <a href="contact.php" class="nav-link" ara-label="Contattaci">Contattaci</a>
        </div>
        <div class="nav-icons">
          <!-- <a href="#" class="nav-icon"><i class="fa fa-search"></i></a> -->
          <!-- <a href="#" class="nav-icon" aria-label="Theme"><i class="ph ph-sun-dim theme-button"></i></a> -->
          <a href="login.php" class="nav-icon" aria-label="Account"><i class="ph ph-user"></i></a>
          <a href="cart.php" class="nav-icon" aria-label="Carrello"><i class="ph ph-basket"></i></a>
          <div class="menu-icon nav-icon">
            <i class="ph ph-list"></i>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>
