<table class="admin-table table-responsive">
    <caption>
        I tuoi Ordini<br>
        <span id="descrizione-tabella">Visualizza i tuoi acquisti effettuati recentemente</span>
    </caption>
    <thead>
        <tr>
            <th data-label="Data">Data</th>
            <th data-label="Disegni">Disegno</th>
            <th data-label="Quantità">Quantità</th>
            <th data-label="Spesa">Spesa</th>
        </tr>
    </thead>
    <tbody>
        <!-- Ordini db -->
    </tbody>
</table>