<table class="responsive-table table-responsive">
    <caption>
        I tuoi Ordini<br>
        <span id="descrizione-tabella">Visualizza i tuoi acquisti effettuati recentemente</span>
    </caption>
    <thead>
        <tr>
            <th data-label="Data" scope="col">Data</th>
            <th data-label="Disegno" scope="col">Disegno</th>
            <th data-label="Quantità" scope="col">Quantità</th>
            <th data-label="Spesa" scope="col">Spesa</th>
        </tr>
    </thead>
    <tbody>
        <!-- Ordini db -->
    </tbody>
</table>