        <footer>
            <section class="footer container">
                <div class="footer-box">
                    <a href="#" class="logo">BH</a>
                    <ul class="social">
                        <li><a href="#" class="social-icon"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="social-icon"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="social-icon"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" class="social-icon"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="footer-box">
                    <h3>About</h3>
                    <a href="#" class="footer-link">About us</a>
                    <a href="#" class="footer-link">FAQ</a>
                    <a href="#" class="footer-link">Privacy Policy</a>
                </div>
                <div class="footer-box">
                    <h3>Services</h3>
                    <a href="#" class="footer-link">Payment Options</a>
                    <a href="#" class="footer-link">Refunds</a>
                    <a href="#" class="footer-link">Limitation of Liability</a>
                </div>
            </section>
            <p class="copyright">
                &copy; BH - 2023 - Osama Chelhaoui, Bilal El Moutaren, Rupi Anton Ricardo
            </p>
        </footer>
    </body>
</html>