<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" 
    content="Osama Chelhaoui, Bilal El Moutaren, Ricardo Rupi Anton"/>
    <!-- TODO: <link rel="stylesheet" href="styles/min.css"> -->
    <link rel="stylesheet" href="../../styles/styles.css">
    <link rel="stylesheet" href="styles/print.css">
</head>
<body>
    
    <header id="header">
        <div class="top-nav">
            <div class="logo">
                <a href="">
                    BOHEMY
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Login <span>or</span> Signup</a></li>
                    <li><a href="">Cart</a></li> 
                    <li><button id="theme-button">Appearance</button></li>               
                </ul>
                
            </nav>
        </div>
        <div class="breadcrumb">
            <!-- <ul-to-replace></ul-to-replace> -->
        </div>
    </header>
    <script src="../../scripts/theme.js"></script>